<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="classpath:spring-datasource.xml" />
	<import resource="classpath:spring-email.xml"/>
	<import resource="classpath:spring-security.xml"/>


	<!--spring security-->
	<bean id="cookieCsrfTokenRepository" class="org.springframework.security.web.csrf.CookieCsrfTokenRepository"/>
	<bean id="customJdbcTokenRepositoryImpl" class="com.mtsmda.souvenir.spring.security.CustomJdbcTokenRepositoryImpl">
		<property name="dataSource" ref="mySqlDataSource"/>
	</bean>

	<bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
	<!--<bean id="limitLoginAuthenticationProvider" class="com.mtsmda.souvenir.spring.security.LimitLoginAuthenticationProvider">
		&lt;!&ndash;<property name="dataSource" ref="mySqlDataSource"/>&ndash;&gt;
	</bean>-->

	<bean id="valuteBorder"
		  class="com.mtsmda.souvenir.valute.ValuteBorder">
		<property name="valuteProperties">
			<props>
				<prop key="EUR">978</prop>
				<prop key="USD">840</prop>
				<prop key="RUB">643</prop>
				<prop key="RON">946</prop>
				<prop key="UAH">980</prop>
				<prop key="GBP">826</prop>
			</props>
		</property>
	</bean>

</beans>