<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.springframework.org/schema/security"
            xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-4.1.xsd">
    <http auto-config="true">
        <intercept-url pattern="/adminPiece/**" access="hasRole('ROLE_ADMIN')"/>

        <!--custom login-->
        <form-login login-page="/login" login-processing-url="/login_process"
                    authentication-failure-url="/login?error=true"
                    username-parameter="souvenir_username_9"
                    password-parameter="souvenir_password_9" />

        <!--remember me-->
        <remember-me remember-me-parameter="souvenir-remember-me"
        token-repository-ref="customJdbcTokenRepositoryImpl" token-validity-seconds="#{60*60*24}"/>

        <!--logout configuration-->
        <logout logout-url="/logout" logout-success-url="/" delete-cookies="JSESSIONID"/>

        <!--enable csrf protection-->
        <csrf token-repository-ref="cookieCsrfTokenRepository"/>

        <access-denied-handler error-page="/access_denied"/>
    </http>

    <global-method-security pre-post-annotations="enabled" secured-annotations="enabled"
                            jsr250-annotations="enabled"/>

    <authentication-manager>
        <authentication-provider ref="limitLoginAuthenticationProvider"/>
    </authentication-manager>
</bean:beans>