@CHARSET "UTF-8";

.activeLanguage {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

.activeLanguage:hover {
    text-decoration: none;
    color: blue;
}

.languageBar ul li {
    display: inline;
    border-left: 10px solid yellowgreen;
    border-bottom: 2px solid yellowgreen;
}

img.contact_img {
    width: 100%;
}

span.numbers {
    display: block;
    border: 5px solid green;
    border-radius: 55px;
    width: 25%;
    background-color: yellow;
    margin: 0 auto;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 9px;
    cursor: pointer;
}

#googleMap {
    width: 75%;
    height: 250px;
    margin: 0 auto;
}

#person_—Åaptcha {
    width: 50%;
    display: inline;
}

#refreshCaptchaBtn {
    cursor: pointer;
}

label.contact_us_form_item::after {
    content: '*';
    color: red;
    font-size: 19px;
    font-weight: bold;
}

textarea {
    resize: none;
}

.form-horizontal .control-label {
    text-align: left;
}

#footer {
    background-color: ghostwhite;
}

.footer {
    padding: 15px;
}

input[type="text"].ng-invalid, textarea.ng-invalid, input[type="email"].ng-invalid {
    background-color: lightpink;
}

input[type="text"].ng-valid, textarea.ng-valid, input[type="email"].ng-valid {
    background-color: lightgreen;
}

span.error {
    color: red;
    font-weight: bold;
}

/*refresh captcha */
@-webkit-keyframes refresh-captcha {
0%
{
    transform: rotate(0deg)
;
}
/* 50%   { transform: rotate(180deg); } */
100%
{
    transform: rotate(360deg
    )
;
}
}
@-moz-keyframes refresh-captcha {
0%
{
    transform: rotate(0deg)
;
}
/* 50%   { transform: rotate(180deg); } */
100
%
{
    transform: rotate(360deg
    )
;
}
}
@-o-keyframes refresh-captcha {
0%
{
    transform: rotate(0deg)
;
}
/* 50%   { transform: rotate(180deg); } */
100%
{
    transform: rotate(360deg
    )
;
}
}

@keyframes refresh-captcha {
0%{
    transform: rotate(360deg);
}
/* 50%   { transform: rotate(180deg); } */
100%{
    transform: rotate(0deg);
}
}
.refreshCaptchaRun {
    -webkit-animation: refresh-captcha 1s infinite; /* Safari 4+ */
    -moz-animation: refresh-captcha 1s infinite; /* Fx 5+ */
    -o-animation: refresh-captcha 1s infinite; /* Opera 12+ */
    animation: refresh-captcha 1s infinite; /* IE 10+, Fx 29+ */
}

.catalogPageBody {
    padding: 10px 20px;
}

.fixedPieceInfoButton {
    position: fixed;
    top: 45%;
    left: -20px;
}

.otherBtnWrapperDiv{
	width: 500px;
}

.infoBtn {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: pointer;
    color: blue;
    font-size: 17px;
	padding: 15px;
	text-align: center;
    margin-left: -7px;
	-webkit-transition: color 2s, background-color 2s, margin-left 2.5s; /**//**//**//* Safari */
    transition: color 2s, background-color 2s, margin-left 2.5s;
}

.infoBtn:hover{
	background-color: blue;
	color: yellow;
    text-shadow: 2px 2px 4px red;
    margin-left: 0px;
}

.infoOpen{
	margin-left: 50px;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.infoClose{
	margin-left: -200px;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.fixedPieceOtherButtons{
	position: absolute;
    top: 61%;
}

.skypeClose, .phoneClose, .emailClose{
	margin-left: -200px;
	opacity: 0;
	-webkit-transition: all 2.5s ease-in-out;
    -moz-transition: all 2.5s ease-in-out;
    -o-transition: all 2.5s ease-in-out;
    transition: all 2.5s ease-in-out;
}

.skypeOpen, .phoneOpen, .emailOpen{
	margin-left: 100px;
	font-size: 25px;
	opacity: 1;
	-webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}

.infoView{
    background-color: gold;
    padding: 5px;
    font-weight: bold;
    border: 5px green solid;
    text-shadow: 2px 2px white,-2px -2px red;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes brandLink {
    0%   {
    	background-color: red;
   		color: yellow;
    }
    25%  {
	    background-color: yellow;
	    color: blue;
    }
    50%  {
    	background-color: blue;
    	color: green;
    }
    100% {
	    background-color: green;
	   	color: red;
    	}
}

/* Standard syntax */
@keyframes brandLink {
    0%   {
    	background-color: red;
   		color: yellow;
    }
    25%  {
	    background-color: yellow;
	    color: blue;
    }
    50%  {
    	background-color: blue;
    	color: green;
    }
    100% {
	    background-color: green;
	   	color: red;
    	}
}

.navbar-brand:hover{
	-webkit-animation-name: brandLink; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 9s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: brandLink;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

ul.nav li{
	-webkit-transition: all 5s linear;
    -moz-transition: all 5s linear;
    -o-transition: all 5s linear;
    transition: all 5s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

ul.nav li:hover{
	outline: 1px solid green;
	/*-webkit-transform: rotateX(720deg);*/ /* Safari */
    /*transform: rotateX(720deg);*/ /* Standard syntax */
    color: white;
    background-color: green;
}

.btn-margin-top{
    margin-top: 5px;
}

.addNewSouvenirCategoryForm{
    border: 2px inset gray;
    padding: 15px 0;
}

a.adminSouvenirs{
    display: inline-block;
}

.iconForRemoveOrEdit{
    font-size: 25px;
    cursor: pointer;
}

/*admin*/
.adminMenu ul{
    text-align: center;
}

.adminMenu ul li{
    display: inline;
    font-size: 17px;
    padding: 15px;
    margin-right: 15px;
    text-transform: uppercase;
}

.removeModelDialog{
    background-color: green;
    border-radius: 15px;
    color: white;
}

.currentForRemoveSouvenirQuestion{
    color: red;
}

.currentForRemoveSouvenir{
    text-transform: uppercase;
    text-shadow: 5px 5px 2px black, 0 0 25px blue, 0 0 18px darkblue;
}

button span.glyphicon{
    vertical-align: text-top;
}

span.glyphicon-remove:before{
    color: red;
}

span.glyphicon-edit:before{
    color: green;
}

@media (min-width: 992px){

}
.modal-lg {
    width: 1200px;
}

img.imgSouvenirPhoto{
    width: 5%;
    height: 5%;
}


.catalog-souvenir{
    height: 100%;
    overflow: hidden;
}

.souvenir-name{
    width: 100%;
    overflow: hidden;
    height: 75px;
}

.souvenir-image-wrapper{
    width: 100%;
    height: 250px;
}

.souvenir-image{
    width: 100%;
    height: 100%;
}

.souvenir-no-image {
    font-size: 34px;
    font-weight: bold;
    padding-top: 100px;
    text-shadow: 5px 5px 15px green, -5px -5px 15px #F44336;
    color: white;
    word-wrap: break-word;
    outline: 1px solid brown;
    height: 100%;
}

input[type="text"]#searchBySate{
    width: 50px;
    -webkit-transition: width 2s;
    transition: width 2s;
}

input[type="text"]#searchBySate:hover{
    width: 150px;
}